@import "~materialize-css/dist/css/materialize.min.css";

.btn {
  margin: 0 10px;
}

.forms {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items:center;
}

.createForm {
  margin: 0 auto;
}

.searchForm {
  margin: 0 auto;
}

.formTitle {
  font-size: 18px;
  text-align: center;
}

.nav-pagination {
  background-color: #26a69a;
}

.pagination {
  /* margin: 0 auto; */
  justify-content:center;
  text-align: center;
}